# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.gz

# Environnements
.env
.env.local
.env.*.local

# Build
build/
dist/
out/

# Tests
coverage/
*.lcov

# IDEs et éditeurs
.vscode/
.idea/
*.swp

# Système
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.bak

# Secrets
*.pem
*.key
*.crt
*.cert